body{
    font-size: 25px;
}

#defects{
    display: none;
}

#timer-display{
    width: 3%;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#next-round-button-container{
    display: none;
}